
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="module" defer src="./components.js"></script>
    <title>Exercise Tracker</title>
</head>
<body>
    <header>
        <h1>Exercise Tracker</h1>
    </header>
    <main>
        <p>Welcome to the Exercise Tracker!</p>
	<create-user></create-user>
        <get-users></get-users>
        <create-exercise></create-exercise>
    </main>
</body>
</html>
